.game-container {
  display: flex;
  height: 100%; /* Reduced from 100% */
  width: 54%; /* Reduced from 100% */
  max-height: 80%; /* Reduced from 100% */
  overflow: hidden;
  margin: 0 auto; /* Centers the container horizontally */
  position: relative; /* Helps with positioning */
  top: 10%; /* Creates space at the top */
  right: 3.5%;
}

.game-area {
  flex: 2;
  position: relative;
  border-right: 3px solid #0f0;
  overflow: hidden;
}